@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}
div:focus, span:focus, p:focus, h1:focus, h2:focus, h3:focus, h4:focus {
  outline: 1px solid #181C14;
  outline-offset: 0px;
  outline-style: dashed;
  border-radius: 2px;
}